
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome Dr.John Doe!</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">5</div>
                                    <div>New Messages!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Results!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default" style="display: none;">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Gait Test Sent</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> To patient ID P100408 on Dec 10, 2015</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>To be taken twice a day, four times this week.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Voice phonation test completed</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> By patient ID P100563 on Dec 9, 2015</small>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Aggregated results over Dec 4, 2015 to Dec 8, 2015.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Gait Test in progress</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> By patient ID P100433 on Dec 8, 2015</small>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Test started as instructed on Dec 7, 2015. Estimated to recieve results by Dec 11, 2015.</p>
                                        </div>
                                    </div>
                                </li>
                                <!--<li class="timeline-inverted">-->
                                    <!--<div class="timeline-panel">-->
                                        <!--<div class="timeline-heading">-->
                                            <!--<h4 class="timeline-title">Lorem ipsum dolor</h4>-->
                                        <!--</div>-->
                                        <!--<div class="timeline-body">-->
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <li class="timeline-inverted">
                                    <div class="timeline-badge danger"><i class="fa fa-calendar"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Memory Test Pending</h4>
                                            <p><small class="text-muted"> By patient ID P100408 on Dec 6, 2015</small>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Test scheduled to be taken on Dec 2, 2015 has not been started yet. Send a reminder.</p>
                                            <hr>
                                            <!--<div class="btn-group">-->
                                                <!--<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">-->
                                                    <!--<i class="fa fa-gear"></i>  <span class="caret"></span>-->
                                                <!--</button>-->
                                                <!--<ul class="dropdown-menu" role="menu">-->
                                                    <!--<li><a href="#">Action</a>-->
                                                    <!--</li>-->
                                                    <!--<li><a href="#">Another action</a>-->
                                                    <!--</li>-->
                                                    <!--<li><a href="#">Something else here</a>-->
                                                    <!--</li>-->
                                                    <!--<li class="divider"></li>-->
                                                    <!--<li><a href="#">Separated link</a>-->
                                                    <!--</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </li>
                                <!--<li>-->
                                    <!--<div class="timeline-panel">-->
                                        <!--<div class="timeline-heading">-->
                                            <!--<h4 class="timeline-title">Lorem ipsum dolor</h4>-->
                                        <!--</div>-->
                                        <!--<div class="timeline-body">-->
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <li class="timeline">
                                    <div class="timeline-badge warning"><i class="fa fa-thumb-tack"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Send Tapping speed test</h4>
                                            <p><small class="text-muted"> To patient ID P10213 on Dec 1, 2015</small>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Send tapping speed test for a period of Dec 3, 2015 to Dec 15, 2015. To be taken 2 times a day, post medicine.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<i class="fa fa-bell fa-fw"></i> Notifications Panel-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.panel-heading &ndash;&gt;-->
                        <!--<div class="panel-body">-->
                            <!--<div class="list-group">-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-comment fa-fw"></i> New Comment-->
                                    <!--<span class="pull-right text-muted small"><em>4 minutes ago</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                                    <!--<span class="pull-right text-muted small"><em>12 minutes ago</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-envelope fa-fw"></i> Message Sent-->
                                    <!--<span class="pull-right text-muted small"><em>27 minutes ago</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-tasks fa-fw"></i> New Task-->
                                    <!--<span class="pull-right text-muted small"><em>43 minutes ago</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
                                    <!--<span class="pull-right text-muted small"><em>11:32 AM</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-bolt fa-fw"></i> Server Crashed!-->
                                    <!--<span class="pull-right text-muted small"><em>11:13 AM</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-warning fa-fw"></i> Server Not Responding-->
                                    <!--<span class="pull-right text-muted small"><em>10:57 AM</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-shopping-cart fa-fw"></i> New Order Placed-->
                                    <!--<span class="pull-right text-muted small"><em>9:49 AM</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                                <!--<a href="#" class="list-group-item">-->
                                    <!--<i class="fa fa-money fa-fw"></i> Payment Received-->
                                    <!--<span class="pull-right text-muted small"><em>Yesterday</em>-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.list-group &ndash;&gt;-->
                            <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
                    <!--</div>-->
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Test Progress Tracker
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <!--<a href="#" class="btn btn-default btn-block">View Details</a>-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Troubleshooting chat
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i> Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i> Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i> Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Auxbot</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 55 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Hi, we are Auxcare. Let us know if we can help.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">John Doe</strong>
                                        </div>
                                        <p>
                                            Hi Auxbot, I need some help with viewing the results.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Auxbot</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            No worries. Click on patient database, search for the required patient on the search bar, and click on results. Does this help?
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                            <strong class="pull-right primary-font">John Doe</strong>
                                        </div>
                                        <p>
                                            Yes, I found it. Thanks!
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Auxbot</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                        </div>
                                        <p>
                                           Great! Happy to help.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <!-- Morris Charts JavaScript -->
        <script src="js/plugins/morris/raphael.min.js"></script>
        <script src="js/plugins/morris/morris.min.js"></script>
        <script src="js/plugins/morris/morris-data.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/sb-admin-2.js"></script>
