        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Flot</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class = "row">
                <div class="col-lg-12">
                        <!--<link href="../examples.css" rel="stylesheet" type="text/css">-->
                        <!--[if lte IE 8]><!--<script language="javascript" type="text/javascript" src="../../excanvas.min.js"></script>--><![endif]-->
                        <script language="javascript" type="text/javascript" src="../../jquery.js"></script>
                        <script language="javascript" type="text/javascript" src="../../jquery.flot.js"></script>
                        <script type="text/javascript">

                            $(function() {

                                // We use an inline data source in the example, usually data would
                                // be fetched from a server

                                var data = [],
                                        totalPoints = 300;

                                function getRandomData() {

                                    if (data.length > 0)
                                        data = data.slice(1);

                                    // Do a random walk

                                    while (data.length < totalPoints) {

                                        var prev = data.length > 0 ? data[data.length - 1] : 50,
                                                y = prev + Math.random() * 10 - 5;

                                        if (y < 0) {
                                            y = 0;
                                        } else if (y > 100) {
                                            y = 100;
                                        }

                                        data.push(y);
                                    }

                                    // Zip the generated y values with the x values

                                    var res = [];
                                    for (var i = 0; i < data.length; ++i) {
                                        res.push([i, data[i]])
                                    }

                                    return res;
                                }

                                // Set up the control widget

                                var updateInterval = 30;
                                $("#updateInterval").val(updateInterval).change(function () {
                                    var v = $(this).val();
                                    if (v && !isNaN(+v)) {
                                        updateInterval = +v;
                                        if (updateInterval < 1) {
                                            updateInterval = 1;
                                        } else if (updateInterval > 2000) {
                                            updateInterval = 2000;
                                        }
                                        $(this).val("" + updateInterval);
                                    }
                                });

                                var plot = $.plot("#placeholder", [ getRandomData() ], {
                                    series: {
                                        shadowSize: 0	// Drawing is faster without shadows
                                    },
                                    yaxis: {
                                        min: 0,
                                        max: 100
                                    },
                                    xaxis: {
                                        show: false
                                    }
                                });

                                function update() {

                                    plot.setData([getRandomData()]);

                                    // Since the axes don't change, we don't need to call plot.setupGrid()

                                    plot.draw();
                                    setTimeout(update, updateInterval);
                                }

                                update();

                                // Add the Flot version string to the footer

                                $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
                            });

                        </script>
                    </head>
                </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Pie Chart Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-pie-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Multiple Axes Line Chart Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-multi"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Moving Line Chart Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bar Chart Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-bar-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Flot Charts Usage
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks, and interactive features. In SB Admin, we are using the most recent version of Flot along with a few plugins to enhance the user experience. The Flot plugins being used are the tooltip plugin for hoverable tooltips, and the resize plugin for fully responsive charts. The documentation for Flot Charts is available on their website, <a target="_blank" href="http://www.flotcharts.org/">http://www.flotcharts.org/</a>.</p>
                            <a target="_blank" class="btn btn-default btn-lg btn-block" href="http://www.flotcharts.org/">View Flot Charts Documentation</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Flot Charts JavaScript -->
    <script src="js/plugins/flot/excanvas.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/plugins/flot/flot-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

