
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Prescribe Tests</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Fill in the following information
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Patient Name</label>
                                            <input class="form-control" placeholder="Jane Doe">
                                            <!--<p class="help-block">Example block-level help text here.</p>-->
                                        </div>
                                        <div class="form-group">
                                            <label>Patient ID</label>
                                            <input class="form-control" placeholder="P00***">
                                        </div>
                                        <div class="form-group">
                                            <label>Email ID</label>
                                            <input class="form-control" placeholder ="email@example.com">
                                        </div>
                                        <!--Motor activities	Gait and Balance	Accelerometer-->
                                        <!--Gyroscope	Device motion-->
                                        <!--Pedometer-->
                                        <!--Tapping speed	Multi-Touch display-->
                                        <!--Accelerometer (optional)	Touch activity-->
                                        <!--Fitness	Fitness	Accelerometer	Device motion-->

                                        <!--Pedometer-->

                                        <!--Location-->

                                        <!--Heart rate-->
                                        <!--Cognition	Spatial memory	Multi-Touch display	Touch activity-->
                                        <!--Correct and actual sequences-->
                                        <!--Voice	Sustained phonation-->
                                        <div class="form-group">
                                            <label>Select tests</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Gait Test
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Balance Test
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Tapping Speed
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">Heart Rate
                                                </label>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">Spatial memory
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">Sustained phonation
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>No. of times in the day</label><br>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Morning
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Afternoon
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Evening
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>Comments</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                            <p class="help-block">Insert additional test information here. Precautions, instructions
                                                to be followed by patient before/after taking the test.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Additional Documents</label>
                                            <input type="file">
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                    <!--TODO:Modal+dismissable alert? after submission, redirect to dashboard-->
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <!--<div class="col-lg-6">-->
                                    <!--<h1>Disabled Form States</h1>-->
                                    <!--<form role="form">-->
                                        <!--<fieldset disabled>-->
                                            <!--<div class="form-group">-->
                                                <!--<label for="disabledSelect">Disabled input</label>-->
                                                <!--<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled>-->
                                            <!--</div>-->
                                            <!--<div class="form-group">-->
                                                <!--<label for="disabledSelect">Disabled select menu</label>-->
                                                <!--<select id="disabledSelect" class="form-control">-->
                                                    <!--<option>Disabled select</option>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                            <!--<div class="checkbox">-->
                                                <!--<label>-->
                                                    <!--<input type="checkbox">Disabled Checkbox-->
                                                <!--</label>-->
                                            <!--</div>-->
                                            <!--<button type="submit" class="btn btn-primary">Disabled Button</button>-->
                                        <!--</fieldset>-->
                                    <!--</form>-->
                                    <!--<h1>Form Validation States</h1>-->
                                    <!--<form role="form">-->
                                        <!--<div class="form-group has-success">-->
                                            <!--<label class="control-label" for="inputSuccess">Input with success</label>-->
                                            <!--<input type="text" class="form-control" id="inputSuccess">-->
                                        <!--</div>-->
                                        <!--<div class="form-group has-warning">-->
                                            <!--<label class="control-label" for="inputWarning">Input with warning</label>-->
                                            <!--<input type="text" class="form-control" id="inputWarning">-->
                                        <!--</div>-->
                                        <!--<div class="form-group has-error">-->
                                            <!--<label class="control-label" for="inputError">Input with error</label>-->
                                            <!--<input type="text" class="form-control" id="inputError">-->
                                        <!--</div>-->
                                    <!--</form>-->
                                    <!--<h1>Input Groups</h1>-->
                                    <!--<form role="form">-->
                                        <!--<div class="form-group input-group">-->
                                            <!--<span class="input-group-addon">@</span>-->
                                            <!--<input type="text" class="form-control" placeholder="Username">-->
                                        <!--</div>-->
                                        <!--<div class="form-group input-group">-->
                                            <!--<input type="text" class="form-control">-->
                                            <!--<span class="input-group-addon">.00</span>-->
                                        <!--</div>-->
                                        <!--<div class="form-group input-group">-->
                                            <!--<span class="input-group-addon"><i class="fa fa-eur"></i>-->
                                            <!--</span>-->
                                            <!--<input type="text" class="form-control" placeholder="Font Awesome Icon">-->
                                        <!--</div>-->
                                        <!--<div class="form-group input-group">-->
                                            <!--<span class="input-group-addon">$</span>-->
                                            <!--<input type="text" class="form-control">-->
                                            <!--<span class="input-group-addon">.00</span>-->
                                        <!--</div>-->
                                        <!--<div class="form-group input-group">-->
                                            <!--<input type="text" class="form-control">-->
                                            <!--<span class="input-group-btn">-->
                                                <!--<button class="btn btn-default" type="button"><i class="fa fa-search"></i>-->
                                                <!--</button>-->
                                            <!--</span>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

